html {
  min-height: 100vh;
}

body {
  height: 100%;

  color: #f1f1f1;

  background: #101126;
  background: -webkit-linear-gradient(135deg, #0a041c, #110939, #3c0d4d);
  background: linear-gradient(135deg, #0a041c, #110939, #3c0d4d);
}
