@import "~normalize.css";

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  font-family: "Source Sans Pro", sans-serif;

  height: 100%;

  color: #f1f1f1;

  background: #0a041c;
  background: -webkit-linear-gradient(135deg, #0a041c, #110939, #3c0d4d);
  background: linear-gradient(135deg, #0a041c, #110939, #3c0d4d);
}
