[submodule "client"]
	path = client
	url = https://github.com/tatakae-game/tatakae-client.git
[submodule "admin"]
	path = admin
	url = https://github.com/tatakae-game/tatakae-admin.git
[submodule "api"]
	path = api
	url = https://github.com/tatakae-game/tatakae-api.git
[submodule "san"]
	path = san
	url = https://github.com/tatakae-game/san.git
