<main>
    <form [formGroup]="signup_form" (ngSubmit)="onSubmit(signup_form.value)">
        <div>
            <label for="username">Username</label>
            <input id="username" type="text" formControlName="username">
        </div>
        <div>
            <label for="email">Email</label>
            <input id="email" type="email" formControlName="email">
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password" type="password" formControlName="password">
        </div>
        <button class="button" type="submit">Purchase</button>
    </form>
</main>