<main>
    <form [formGroup]="signup_form" (ngSubmit)="onSubmit(signup_form.value)">
        <img src="/assets/logo.png">
        <h1>Sign up</h1>
        <div class="form-entry">
            <label for="username">Username</label>
            <input id="username" type="text" formControlName="username">
        </div>
        <div class="form-entry">
            <label for="email">Email</label>
            <input id="email" type="email" formControlName="email">
        </div>
        <div class="form-entry">
            <label for="password">Password</label>
            <input id="password" type="password" formControlName="password">
        </div>
        <div class="bottom">
            <a routerLink="/login">Already have an account? Login here</a>
            <button class="button" type="submit">Sign up</button>
        </div>
    </form>
</main>