main {
  display: flex;
  justify-content: center;
  width: 100%;

  margin-top: 100px;
}

form {
  padding: 10px;
  width: 400px;
}

img {
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.bottom {
  display: flex;
  justify-content: space-between;

  a {
    margin-top: auto;
    font-size: 14px;
  }
}
