<main>
    <form [formGroup]="login_form" (ngSubmit)="onSubmit(login_form.value)">
        <img src="/assets/logo.png">
        <h1>Login</h1>
        <div class="form-entry">
            <label for="username">Email / Username</label>
            <input id="username" type="text" formControlName="username">
        </div>
        <div class="form-entry">
            <label for="password">Password</label>
            <input id="password" type="password" formControlName="password">
        </div>
        <div class="bottom">
            <a routerLink="/signup">Don't have an account yet? Sign up here</a>
            <button class="button" type="submit">Login</button>
        </div>
    </form>
</main>